.ParagraphContainer {
    width: 65vw;
    margin: 0 auto;
}

.ParagraphContainer p {
    color: var(--glamwhite);
    font-family: 'Alegreya Sans SC';
    font-size: 2.5em;
    font-weight: 300;
    text-align: justify;
}

.ParagraphContainer p:last-child {
    margin-bottom: 0;
}

.Separator {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Separator {
    height: 7em;
    padding: 15em 0 15em 0;
}

@media (max-width: 700px) {
    .TitleContainer h1 {
        font-size: 3.5em;
    }
    .ParagraphContainer p {
        font-size: 1.25em;
    }    
    .Separator {
        height: 2em;
        padding: 7.5em 0 7.5em 0;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {

    .TitleContainer h1 {
        font-size: 5em;
    }
    .ParagraphContainer p {
        font-size: 2em;
    }
    .Separator {
        height: 4em;
        padding: 10em 0 10em 0;
    }
}