
.FormContainer {
    width: 75vw;
    margin: 0 auto;
}

.FormContainer form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ParagraphContainer {
    margin: 0 auto 5em auto ;
}

.ParagraphContainer p {
    font-size: 1.5em;
}

.FormHead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.FormField input {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    font-family: "Alegreya Sans SC";
    font-size: 1.6em;
    font-weight: 300;
    color: var(--glamwhite);
    border-radius: 10px;
    border: none;
    background-color: hsla(193, 81%, 33%, 0.5);
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.FormField input::placeholder {
    color: var(--glamwhite);
}

.FormField input:hover,
.FormField input:focus {
    border: 1px solid var(--glampink);
    outline: 1px solid var(--glampink);;
    box-shadow: 0 0 20px var(--glamblue);
}

.FormFieldBottom {
    padding-top: 30px;
}

.FormFieldBottom p {
    color: var(--glamwhite);
    font-family: 'Alegreya Sans SC';
    font-size: 1.5em;
    font-weight: 100;
}

input[type=file] {
    color: var(--glamblue);
    font-family: "Alegreya Sans SC";
}

input[type=file]::file-selector-button  {
    font-family: "Alegreya Sans SC";
    font-size: 1.3em;
    padding: .5em;
    border: 2px solid var(--glamblue);
    border-radius: 10px;
    color: var(--glamwhite);
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

input[type=file]::file-selector-button:hover {
    background-color: rgba(16, 123, 152, 0.5);
    box-shadow: 0 0 20px var(--glamblue);
}

.FormContainer button {
    margin: 3em auto 0 auto;
    font-family: "Alegreya Sans SC";
    font-size: 2em;
    border: 2px solid var(--glamblue);
}

.FormContainer button:hover {
    background-color: rgba(16, 123, 152, 0.5);
}

@media (max-width: 649px) {
    .FormHead {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .FormField input {
        font-size: 1em;
    }
    .FormField textarea {
        font-size: 1em;
    }
    input[type=file]::file-selector-button {
        font-size: 1em;
    }
}

@media (min-width: 650px) and (max-width: 1000px) {
    .FormField input {
        font-size: 1em;
    }
    .FormField textarea {
        font-size: 1em;
    }
    .FormFieldBottom p {
        font-size: 1em;
    }
}


