.TitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%);
}

.TitleContainer h1 {
    font-family: 'Reem Kufi';
    font-weight: 400;
    font-size: 5em;
    color: var(--glampink);
    margin: 0;
    text-align: center;
}

.SecondTitleContainer h1 {
    font-family: 'Reem Kufi';
    font-weight: 400;
    font-size: 5em;
    color: var(--glampink);
    margin: 0;
    text-align: center;
}

.Separator {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Separator {
    height: 7em;
    padding: 10em 0 10em 0;
}


@media (max-width: 700px) {
    .TitleContainer h1 {
        font-size: 3.5em;
    } 
    .SecondTitleContainer h1 {
        font-size: 3.5em;
    }
    .Separator {
        height: 2em;
        padding: 5em 0 5em 0;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {

    .TitleContainer h1 {
        font-size: 4em;
    }
    .SecondTitleContainer h1 {
        font-size: 4em;
    }
    .Separator {
        height: 4em;
        padding: 7em 0 7em 0;
    }
}